<?xml version="1.0"?>
<launch>

    <!--- Depth image to laser scan -->
    <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" >
        <param name="scan_height" value="3"/>
        <param name="range_min" value="0.3"/>
        <param name="range_max" value="5.0"/>
        <param name="output_frame_id" value="camera"/>
        <remap from="image" to="/align_depth_crop" />
        <remap from="camera_info" to="camera_info" />
        <remap from="scan" to="scan2" />
    </node>

</launch>
